<a href="https://colab.research.google.com/github/ddlfj/py/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. 파이선 변수
_mun = 1
num = 2
num1 = 3
#2num = 3
#안에 숫자를 올 수 없다!
n_um = 3

In [ ]:
#2. 각 변수에 지장된 최종 값은?
sum = 0
n1 = 10
n1 = n1+10
n2 = 20
sum = n1+n2
print(n1, n2, sum)

20 20 40

In [ ]:
#3. 적절한 연산자 찾기
print(17//4)
print(17/4)
print(17%4)

4
4.25
1

In [ ]:
#4. 타입 찾기
#age = 17
age = 17
print(type(type(age)))

<class 'type'>

In [ ]:
#5. 문자열 언덱싱
s = 'Hello Henyang!'
print(s[5],s[-5])

  y

In [ ]:
#6. upper()함수의 문자열 슬라이싱
s = 'Hello Hanyang!'
print(s)
s = s.upper()
print(s)
print(s[:8])
print(s[8:])
print(s[1:10])

Hello Hanyang!
HELLO HANYANG!
HELLO HA
NYANG!
ELLO HANY

In [ ]:
#8. 여러 데이터를 다루는 파이썬 자료들
# 리스트, 튜플, 딕셔너리, 셋

In [ ]:
#8-9. 리스트
a = ['a',1,'python',(1,2),'2',[1,2]]
print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [ ]:
#10. 파이썬 코드
nums = list(range(4))
print(nums)
nums.insert(3,100)
print(nums)

[0, 1, 2, 3]
[0, 1, 2, 100, 3]

In [ ]:
#11. 판수의 최종값
a = 100
b = 200
a, b = b, a

print(a,b)

200 100

In [ ]:
#12. 
a = {'han':1, 1:2, '1':3}
print(a)
a[1] = 'yang'
print(a)

{'han': 1, 1: 2, '1': 3}
{'han': 1, 1: 'yang', '1': 3}

In [ ]:
#13. 셋
a = set([1,1,1,1,1,1,1,1,1,1,2,3])
print(a)
b = set('Helllo')
print(b)

{1, 2, 3}
{'e', 'H', 'o', 'l'}

In [ ]:
#14. 
room = [[0,0,1,0,9],
        [1,0,1,0,1],
        [0,1,1,1,9,]]

mouse = room[0][2]

if mouse == 1:
  print('cheese')
elif mouse == 9:
  print('trap') 
else:
  print('notging')

cheese

In [ ]:
#15-17

a = 0
b = 0


for i in range(3,9):
  if i%2 == 0 and i%3 ==0:
    continue
  elif i%2 == 0:
    a += 1
  elif i%3 == 0:
    b += 1

print(a,b)

2 1

In [ ]:
#18-20.
print('메뉴번호 1,쿠키(300원 2.짬뽕(500원 3.치킨(700원)')

money = int(input('투입금액'))
menu = int(input('메뉴번호'))

if menu == 1:
  money = money-300
elif menu == 2:
  money -= 500
elif menu == 3:
  morey -= 700

if money < 0:
  print('금액이 부족갑니다.')
else:
  won1000 = money//1000
  won500 = (money%1000)//500
  won100 = ((money%1000)%500)//100
  print('거스름돈: 1000원 {}개. 500 {}개 100원 {}개'.format(won1000, won500, won100))

메뉴번호 1,쿠키(300원 2.짬뽕(500원 3.치킨(700원)
투입금액5000
메뉴번호2
거스름돈: 1000원 4개. 500 1개 100원 0개